body {
    margin:0px;
    padding: 0px;
}

header {
    width: 100%;
    // height: 700px;
    background: #3A1858;

    .logo img {
        position: absolute;
        width: 200px;
        top: 20px;
        left: 80px;
        margin: 0;
    }

    .hamburger {
        position:relative;
        z-index: 11;
    }

    .menu {
        // display: flex;
        // justify-content: flex-end;

        .responsiveMenu {
            background-color: #3A1858;
            width: 300px;
            height: 100%;
            top: 0;
            right: -300px;
            position: fixed;
            transition: all 0.25s ease-in-out;
            z-index: 10;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-top: 70px;
            }
        
            li {
                list-style: none;
                margin: 20px;
                text-align: right;
            }
        
            a {
                font-size: 1.5rem;
                color: #fefefe;
                font-style: none;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .SM {
                padding: 0;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                margin: 0;

                img {
                    width: 40px;
                    margin: 0;
                }
            }
        }

        button {
            position: absolute;
            top: 20px;
            right: 10px;
            margin: 0;
        }
        .isActive {
            right: 0;
        }
    }

    .coverImg {    
        img {
            width: 100%;
            margin: 0;
        }
    }

// the yellow star
    .buttonJoin {
        .star{
            width: 200px;
            height: 200px;
            position: absolute;
            top: 600px;
            right: 80px;
        }

        .buttonText {
            position: absolute;
            top: 655px;
            right: 105px;
            width: 150px;
            height: 100px;
        }
    }
    .text {
        position: absolute;
        top: 580px;
        left: 80px;

        h1 {
            color: #fefefe;
            font-size:60px;
            margin-bottom: 20px;
        } 
        p {
            color: #fefefe;
            margin: 0px;
            font-size: 20px;
            opacity: .7;
        }
    }

// decouvrez-nous 
    .lien {
        position: absolute;
        top: 770px;
        left: 80px;
        a {
            color: #E8C551;
            text-decoration: none;
            font-size: 25px;

            div {
                display: flex;
                p{
                    font-size: 25px;
                    margin-right: 10px;
                }
                img{
                    width: 40px;
                }
            }
        }
    }

    
// pour le page de evenementpasse
    .header {
        padding-left: 80px;
        margin: 0;
        img {
            width: 200px;
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }
}


// main
// index
.index {
    .presentation {
        background-color: #fefefe;
        padding:40px;
        margin: 0;
        h2 {
            text-align: center;
            font-size: 40px;
            margin: 0px;
        }
        p {
            display: flex;
            font-size: 20px;
            padding: 0 150px;
            text-align: center;
        }
        .savoir {
            border-radius: 9px;
            background-color: #E8C551;
            width: 120px;
            margin: 0 auto;
            a {
                text-decoration: none;
                padding: 10px 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    z-index: 1;
                    font-size: 15px;
                    padding: 0;
                    margin: 0px;
                }
            }
        }
    }
    
    .evenement {
        background-color:#2F1447;
        padding: 40px;
        padding-left: 80px;
        padding-right: 80px;
        h2 {
            margin: 0;
            color: #fefefe;
            font-size: 40px;
        }
        .container {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
            .content {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2 {
                    color: #E8C551;
                    font-size: 30px;
                    margin-bottom: 25px;
                }
                p {
                    color: #fefefe;
                    font-size: 15spx;
                }
                #date {
                    font-size: 10px;
                }
            }
            .savoir {
                border-radius: 5px;
                background-color: #6A3C93;
                width: 150px;
                text-align: center;
                a {
                    color: #3A1858;
                    text-decoration: none;
                    font-size: 20px;
                }
            }
        }
        .evenImg {
            right: 0;
        }
    }
    
    .assoImg {
        background-color: #fefefe;
        padding: 50px 80px;
        h2 {
            margin: 0;
            font-size: 30px;
        }
        .img {
            display: flex;
            justify-content: space-between;
            margin: 20px 0px;
        }
    }

    .contacter {
        margin: 0;
        position: relative;
        img {
            width: 100%;
            margin: 0;
        }
        .content {
            position: absolute;
            bottom: 25%;
            right: 32%;
            a {
                text-decoration: none;
                color: #E8C551;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                font-size: 45px;
                font-family: 'nico moji' sans-serif;
            }
            p {
                color: #fefefe;
                display: flex;
                justify-content: center;
                font-size: 20px;
            }

            .Contact {
                display: flex;
                justify-content: center;
                .email {
                    display: flex;
                    margin-right: 30px;
                }
                .ins {
                    display: flex;
                    margin: 0;
                    margin-left: 30px;
                }

                img {
                    width: 40px;
                    margin: 20px;
                }
                p {
                    align-items: center;
                }
            }
        }
    }
}

// pour le page de evenementpasse
.EP {
    background-color: #fefefe;
    padding: 80px;
    padding-bottom: 30px;
    margin: 0;
    h2 {
        font-size: 40px;
        margin: 0;
    }

    .activities {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .activity {
            width: 420px;
            height: 630px;
            background: #3A1858;
            margin: 20px 0px;
            img {
                width: 420px;
                margin: 0;
            }
            .content {
                padding: 20px;
                margin: 0;
                h3 {
                    color: #E8C551;
                    font-size: 40px;
                    margin: 0;
                }
                #date {
                    font-size: 20px;
                    font-weight: lighter;
                }
                p {
                    color: #fefefe;
                    font-size: 25px;
                }
                .savoir {
                    border-radius: 9px;
                    background-color: #6A3C93;
                    width: 150px;
                    text-align: center;
                    margin-top: 45px;
                    a {
                        text-decoration: none;
                        padding: 0 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            color: #3A1858;
                            font-size: 20px;
                            margin: 0;
                        }
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

// Qui sommes-nous
.quiSommesNous {
    padding: 80px;
    padding-top: 40px;
    h1 {
        font-size: 50px;
        margin: 10px 0px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    img {
        width: 100%;
        height: 300px;
    }
    .part1{
        display: flex;
        justify-content: space-between;
        .text {
            width: 40%;
        }
        img {
            width: 700px;
        }
    }
    .part2 {
        margin: 30px 0px;
        margin-bottom: 60px;
    }

    @media screen and (max-width:1100px) {
        .part1 {
            display: block;
            .text {
                width: 100%;
            }
        }
    }
    @media screen and (max-width:600px) {
        .part1 {
            display: block;
            .text {
                width: 100%;
            }
            img {
                width: 600px;
            }
        }
    }
}

// evenement
.eveneP {
    padding: 80px;
    display: flex;
    flex-flow: row wrap;
    h1 {
        margin: 0px;
        font-size: 50px;
    }
    .eveneInfor {
        margin: 20px;
        h2 {
            color: #E8C551;
            font-size: 40px;
        }
        p {
            font-size: 25px;
        }
        #date {
            font-size: 15px;
        }
    }
    .photoGroup {
        margin: 20px;
        #p1 {
            width: 460px;
            margin: 5px;
        }
        #p2 {
            width: 330px;
            margin: 5px;
        }
        #p3 {
            width: 480px;
            margin: 5px;
        }
        #p4 {
            width: 300px;
            margin: 5px;
        }
        #p5 {
            width: 440px;
            margin: 5px;
        }
        #p6 {
            width: 520px;
            margin: 5px;
        }
    }
    .contacter {
        margin: 0 auto;
    }
}

// infors pratiques
.inforsPratiques {
    padding: 80px;
    h1 {
        margin: 0;
        margin-bottom: 30px;
        font-size: 50px;
    }
    img {
        position: absolute;
        right: 100px;
        top: 260px;
    }
    .part{
        margin-bottom: 50px;
        h2{
            margin: 0;
            font-size: 30px;
        }
        p {
            margin-top: 10px;
            margin-bottom: 0;
        }
        ul {
            padding: 0 20px;
            margin: 0;
        }
    }
    @media screen and (max-width:1100px) {
        img {
            position:static
        }
    }
}

// nons contacter
.nonsContacter {
    padding: 80px;
    .container {
        display: flex;
        justify-content: space-around;
    }
    h1 {
        font-size: 50px
    }
    // form
    .left {
        .flex {
            margin: 20px 0;
        }
        .N {
            width: 200px;
            font-size: 15px;
            padding: 10px 12px;
            border: 1px solid #124559;
            border-radius: 10px;
        }
        .L {
            width: 430px;
            font-size: 15px;
            padding: 10px 12px;
            border: 1px solid #124559;
            border-radius: 10px;
        }
        .M {
            width: 435px;
            height: 400px;
            font-size: 15px;
            padding: 10px 12px;
            border: 1px solid #124559;
            border-radius: 10px;
        }
        button {
            width: 460px;
            font-size: 25px;
            padding: 10px 12px;
            border: 0;
            border-radius: 10px;
            background: #E8C551;
            opacity: .7;
            color: #3A1858;
        }
    }
    .line {
        display: flex;
        align-items: center;
    }
    // contacter
    .right {
        margin: 0px;
        .moyen{
            display: flex;
            align-items: center;
            margin: 30px 0px;
            img {
                width: 40px;
            }
            a {
                margin: 20px;
                text-decoration: none;
                color: #000;
            }
            a:hover {
                color: #E8C551;
            }
            p {
                margin: 0px 20px;
            }
            #mail {
                text-decoration:underline #343a40;
            }
        }
        .Partenaires {
            margin-top: 70px;
            img {
                width: 277px;
                height: 294px;
            }
        }
        
    }

    @media screen and (max-width:1300px) {
        .container {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
        .line {
            visibility: hidden;
        }
    }
}


// contacter 
.contacter {
    a {
        display: flex;
        justify-content: center;
        font-size: 45px;
        text-decoration: none;
        color: #E8C551;
    }
    p {
        color: #3A1858;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    .Contact {
        display: flex;
        justify-content: center;
        .email {
            display: flex;
            margin-right: 30px;
        }
        .ins {
            display: flex;
            margin: 0;
            margin-left: 30px;
        }

        svg {
            width: 40px;
            margin: 10px;
        }
        p {
            align-items: center;
        }
    }
    
    @media screen and (max-width:750px) {
        a {
            font-size: 35px;
        }
        p {
            font-size: 15px;
        }
        .Contact {
            .email {
                margin-right: 20px;
            }
            .ins {
                margin-left: 20px
            }
        }
    }
}

// footer 
footer {
    background-color: #3A1858;
    display: flex;
    justify-content: space-around;
    padding: 50px;

    h2 {
        font-size: 35px;
        color: #fefefe;
        margin-top: 10px;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        margin: 10px;
        margin-left: 0
    }

    a {
        font-size: 1rem;
        color: #fefefe;
        font-style: none;
        text-decoration: none;
        margin: 0;
    }
    a:hover {
        color: #E8C551;
    }

    p {
        font-size: 1rem;
        margin: 10px;
        margin-left: 0;
        color: #fefefe;
    }

    .footerSM {
        img {
            height: 30px;
            margin-top: 15px;
            margin-right: 15px;
        }
    }
}